img{
    width:100%;
}

.header{
   background-color: #90ee90;
    margin-bottom: 0px;
    background-image: url('bckgrd.png');
    background-repeat: no-repeat;
    background-position: right;
   
}
.image{
     background-image: url('bckgrd.png');
}
 

.row-header{
    margin:0px auto;
    padding:0px auto;
    /*background-image: url('bckgrd.png')
    background-repeat: no-repeat;
    background-position: right;;*/
    min-height:200px;
}

section{
    background-color: #ffe5b4;
}

.cert{
    padding:4%;
    background-color: #90ee90;
    margin:1%;
    min-height:100px;
    
}

.row-content{
    margin:0% auto;
    padding: 50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;

}
.footer{
    background-color: #d1c4e9;
    margin:0% auto;
    padding:20px 0px;
}

.fa-facebook, .fa-twitter, .fa-linkedin{
    padding:10px;
    font-size:30px;
    width:50px;
    text-align:center;
    text-decoration: none;
    border-radius:50%;
}

.fa:hover{
    opacity:0.7
}
.fa-facebook{
    background:#3b5998;
    color:white;
}

.fa-twitter{
    background:#55acee;
    color:white
}

.fa-linkedin{
    background:#3b5998;
    color:white;
    border-radius:0px;
}
.fa-envelope{
    background:#ff000;
    color:white;

.font-white{
    color:white;
}

.font-yellow{
    color: orange;
}

.font-red{
    color:rgba(255, 0, 0, 0.801);
    font-size:200%;
    font-weight: bolder;
}

.font-blue{
    color:blue;
    font-size:200%;
    font-weight: bolder;
}

.wd{
    color: orange;
    font-size:150%;
    font-weight: bolder;
}

.intro{
    padding-left:10%;
    margin-top:20%;
}

@media(max-width:500px){

    .row-header{
        min-height:600px;
    }
    .intro{
        padding-top:50%;
    }
    .fa-facebook, .fa-twitter, .fa-linkedin{
    padding:5%;
    font-size:30px;
    width:5%;
    text-align:center;
    text-decoration: none;
    border-radius:50%;
}

}
