img{
    width:90%;
    margin-top:20%;
    border-radius:10%;
    
}

.header{
   background-color:#8c0404;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: right;
    
    
   
}
.front{
    margin-top: 20%;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
    min-height:200px;
}

section{
    background-color: #bc2404;
    color:#fbbc0c;
}

section h2{
    color:black;
}

.cert{
    padding:4%;
    background-color: #fb1d0c;
    margin:1%;
    min-height:100px;
    
}

.row-content{
    margin:0% auto;
    padding: 50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;

}
.footer{
    background-color: #fb1d0c;
    margin:0% auto;
    padding:20px 0px;
    color:white;
}

.fa-facebook, .fa-twitter, .fa-linkedin{
    padding:10px;
    font-size:30px;
    width:50px;
    text-align:center;
    text-decoration: none;
    border-radius:50%;
}

.fa:hover{
    opacity:0.7
}
.fa-facebook{
    background:#3b5998;
    color:white;
}

.fa-twitter{
    background:#55acee;
    color:white
}

.fa-linkedin{
    background:#3b5998;
    color:white;
    border-radius:0px;
}

.font-white{
    color:grey;
}

.font-yellow{
    color: orange;
}

.font-red{
    color:#ffe5b4;
    font-size:150%;
    font-weight: bolder;
}

.font-blue{
    color:blue;
    font-size:200%;
    font-weight: bolder;
}

.wd{
    color: orange;
    font-size:150%;
    font-weight: bolder;
}

.intro{
    padding-left:10%;
    margin-top:20%;
}

.navbar{
    background-color: #722f37;
}

a, .nav-link{
    color:white;
}

@media(max-width:500px){

    img{
        margin-top:20%;
        border-radius:50%;
    }

}
